
body{

    background-color:midnightblue


}
.container{

    position: relative;
    top: 300px;
    margin-right: 50px;
    width:25% ;
    padding: 5 5 5 5px;
    border: 5px solid;
    height: 620px;
    float: right;
    background-color: gold;


}

form{

    width: 240px;
    height: 700px;
    
    

}


label{

    font-size: 14px;
    color: black;

}

.form-control, div.form-group{

    margin-top: -30px;


}

#inputEmail4.form-control{

    width: 155px;
    height: 24px;
    margin-top: -25px;


}

#inputZip.form-control{

    width: 60px;   


}

#inputState{

    width: 90px;


}

#myphone{

width: 450px;
margin-left: 90px;
position: relative;
top: 175px;
text-align: center;
color: white;



}

#mydiv{

position: relative;
left: 1200px;
top: -510px;
width: 375px;
text-align: center;
color: white;


}

#mydiv2{

    position: relative;
    left: 700px;
    top: -950px;
    width: 375px;
    text-align: center;
    color: white;
    
    
}

#myGTpicdiv{

    position: relative;
    left:200px;
    top: -1000px;


}

#mycarpicdiv{

    position: relative;
    top: -900px;
    left: 1250px;


}



/* The Weather Widget CSS */
#myWidget {

  
    width: 13% ;
    height: 16% ;
    float: right;
    margin-top: 80px;
    top: 75px ;
    right: 0px ;
  }

  #mygivediv{

    position: relative;
    top: -1400px;
    right: 40px;

  }

  label.logo{

    color: orange;
    font-size: 35px;


  }

