body{

    background-color: black;

}

img{


 max-width: 500px;
 display: inline;

}

#myWidget {

  
    width: 13% ;
    height: 16% ;
    float: right;
    margin-top: 80px;
    top: 75px ;
    right: 0px ;
  }